*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --black: #030303;
    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --light-pink: #F39E9E;
    --light-red: #EB7565;
    --cyan: #61C4B7;
    --dakr-slate-blue: #552049;
    --medium-brown: #7A746E;
    --seashell: #FFF7F0;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #faf0e8;
}
 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
 }

.btn {
    color: var(--seashell);
    border-radius: 50px;
    padding: 1cap 20px;
    text-decoration: none;
    font-size: 1rem;
}

.btn-nav-consult {
    background: var(--black);
}

.btn-nav-consult:hover{
    background-color: var(--galactic-blue);
}

.heading-box-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 7rem;
}

.heading-box-row h1{
    font-size: 3.5rem;
}

.heading-box-row p{
    color: var(--medium-brown);
    text-align: center;
    width: 40rem;
}

.grid-container {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.grid-row-spread {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

.middle-3-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.graphic-box {
    background-color: var(--galactic-blue);
    border-radius: 5px;
    color: var(--seashell);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 354px;
    height: 364px;
}

.pattern-graphic{
    position: relative;
    top: -4rem;
}

.graphic-box p{
    position: relative;
    top: 9rem;
    left: 2rem;
}

.ux-box {
    background-color: var(--summer-yellow);
    border-radius: 5px;
    color: var(--seashell);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    width: 164px;
    height: 182px;
}

.pattern-ui{
    position: relative;
    top: -6rem;
}

.ux-box p{
    position: relative;
    top: -1rem;
    left: 1rem;
}

.apps-box {
    background-color: var(--light-pink);
    border-radius: 5px;
    color: var(--seashell);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    width: 164px;
    height: 182px;
}

.pattern-apps{
    position: relative;
    top: -6rem;
}

.apps-box p{
    position: relative;
    left: 1rem;
    top: -1rem;

}

.illustrations-box {
    background-color: var(--light-red);
    border-radius: 5px;
    color: var(--seashell);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    width: 354px;
    height: 158px;
    margin-top: 1.5rem;
}

.pattern-illustration{
    position: relative;
    top: -4rem;
    left: 2rem;
}

.illustrations-box p{
    position: relative;
    left: 1rem;
    top: -1rem;
}

.photo-box {
    background-color: var(--cyan);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    color: var(--seashell);
    width: 354px;
    height: 182px;
}

.pattern-photo-img{
    position: relative;
    top: -6rem;
}

.photo-box p{
    position: relative;
    left: 1rem;
    top: -1rem;
}

.motion-graphics-box {
    background-color: var(--dakr-slate-blue);
    border-radius: 5px;
    color: var(--seashell);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    width: 354px;
    height: 158px;
    margin-top: 1.5rem;
}

.pattern-motion-graphic{
    position: relative;
    top: -4rem;
}

.motion-graphics-box p{
    position: relative;
    left: 1rem;
    top: -1rem;
}

.consult-container {
    display: flex;
    justify-content: center;
}

.consult-row {
    display: flex;
    align-items: center;
}

.consult-row h2{
    font-size: 2.5rem;
    width: 33.75rem;
}

.consult-row p{
    color: var(--medium-brown);
    margin-bottom: 2rem;
    width: 540px;
}

.hero-image {
    width: 445px;
    max-width: 100%;
    position: relative;
    right: 5rem;
}

.btn-consult-2 {
    background-color: var(--light-red);
}

.btn-consult-2:hover{
    background-color: var(--summer-yellow);
}

.work-section {
    padding: 120px 0;
}

.work-section h3{
    font-size: 2rem;
    text-align: center;
}

.carousel{
    overflow: hidden;
    margin: auto;
}

.work-row {
    display: flex;
    transition: transform 0.3s ease;
    gap: 30px;    
}

.work-row img{
    flex: 0 0 33.333%;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}

.arrow-icon {
    background: var(--black);
    border-radius: 50px;
    cursor: pointer;
    padding: 15px 15px;
    border: none;
}

.arrow-icon:hover{
    background-color: var(--galactic-blue);
}

.booking-sec {
    display: flex;
    justify-content: center;
}

/* .booking-row {} */

.book-padding-banner {
    background-color: var(--black);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1110px;
    height: 320px;
    max-width: 100%;
}

.book-padding-banner h3{
    color: var(--seashell);
    font-size: 2.5rem;
}

.book-padding-banner p {
    color: var(--seashell);
    font-size: 1.125rem;
    width: 33.75rem;
}

.btn-booking{
    background-color: var(--light-red);
}

.btn-booking:hover{
    background-color: var(--summer-yellow);
}

.btn-footer {
    background-color: var(--black);
}

.btn-footer:hover{
    background-color: var(--galactic-blue);
}

@media(max-width: 1024px){
    .heading-box-row h1 {
        font-size: 2.75rem;
    }

    .heading-box-row p{
        width: 31rem;
    }

    .grid-row-spread{
        grid-template-columns: repeat(2, 1fr);
    }

    .consult-row h2{
        font-size: 2rem;
        width: 21;
    }

    .consult-row p{
        width: 21.188rem;
    }

    .book-padding-banner{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 690px;
    }

    .book-padding-banner h3{
        font-size: 2rem;
    }
}

@media(max-width: 768px){
    .heading-box-row h1 {
            font-size: 2.25rem;
            text-align: center;
    }

    .heading-box-row p {
        width: 17.813rem;
    }

    .grid-row-spread {
        grid-template-columns: repeat(1, 1fr);
    }

    .consult-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .consult-row h2{
        font-size: 1.625rem;
        text-align: center;
    }

    .consult-row p{
        text-align: center;
        font-size: 1rem;
        width: 343px;
    }

    .hero-image{
        right: 0;
        width: 343px;
    }

    .book-padding-banner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 343px;
    }

    .book-padding-banner h3{
        font-size: 1.625rem;
    }

    .book-padding-banner p{
        width: 295px;
    }
}